{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {% if posts|length > 0 %}
            {%  for post in posts %}
                {% if post.title|length > 0 %}
                <div>
                    <a href="{{ path('app_micro_post_show', { post: post.id })}}">
                        {{ post.title }}
                    </a>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>There are no messages</p>
        {% endif %}
    </div>
{% endblock %}